<!doctype html>
<html lang="en" ng-app="AngularJSSpringApp">
<head>
<meta charset="utf-8">
<title>Service App</title>
<link rel="stylesheet" href="app/styles/app.css"/>
<link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css" />
</head>
<body ng-app="AngularJSSpringBootApp" ng-controller="MainController" class={{pageClass}}>

	<div id="wrapper">
		<ul class="menu">
			<li><a href="#/day" >Day</a></li>
			<li><a href="#/math" >Math</a></li>
<!-- 			<li><a href="#/day" ng-click="pageClass = 'day'">Day</a></li> -->
<!-- 			<li><a href="#/math" ng-click="pageClass = 'math'">Math</a></li> -->
		</ul>
		<hr class="" />
		<div ui-view></div>

	</div>

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="app/scripts/app.js"></script>
	<script src="app/scripts/controllers/MathController.js"></script>
	<script src="app/scripts/controllers/DayController.js"></script>
	<script src="app/scripts/controllers/MainController.js"></script>
</body>
</html>
